body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100vh;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
}

.section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    scroll-snap-align: start; 
}

#section1 {
    background-color: #3498db; 
}

#section2 {
    background-color: #7fa4c2; 
}

#section3 {
    background-color: #6be1ff; 
}

#section4 {
    background-color: #97dbe0; 
}
