body {
    font-family: Arial, sans-serif;
}

h2 {
    color: red;
    border-bottom: 6px solid red;
    padding-bottom: 5px;
}

.form-container {
    border-style: dashed;
    border-width: 3px;
    border-color: red;
    padding: 10px;
    width: 300px;
    border-bottom: none;
    position: relative;
}

label {
    color: red;
    margin-bottom: 5px;
    vertical-align: middle; 
}

input[type="text"],
input[type="password"],
textarea {
    align-items: center;
    width: 200px;
    vertical-align: middle; 
    margin-top: 5px;
    border: 1px dashed red;
}

.checkbox-group,
.radio-group {
    margin: 10px 0;
    display: flex;
}

.checkbox-group label,
.radio-group label {
    display: inline-block;
}

.buttons {
    margin-top: 15px;
}

.buttons input {
    border: 1px dashed red;
    color: green;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.centrar1 {
    margin-top: 50px;
}

.centrar2 {
    margin-top: 15px;
}

.form-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: red;
}