* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #425067;
}

.contenedorPrincipal {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 48px;
    background-color: #eeeeee;
}

nav ul {
    list-style: none;
    float: left;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    color: #2d3646;
}

nav ul li a:hover {
    background-color: #e52f6e;
    color: white;
}

main {
    background-color: white;
    float: left;
    width: 70%;
}

main img {
    width: 100%;
}

main section {
    padding: 30px;
}

main p {
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5em;
}

main h1 {
    margin-bottom: 20px;
    font-size: 1.6em;
}

aside {
    float: left;
    width: 30%;
    background-color: #25d6c8;
    padding: 30px;
}

aside ul {
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}

aside h2 {
    color: black;
    margin-bottom: 20px;
    font-size: 1.4em;
}

footer {
    width: 70%;
    padding: 60px;
    background-color: #e52f6e;
    clear: both; /* Limpia los floats */
}

footer p {
    color: white;
    text-align: center;
}

/* Media Query */
@media (max-width: 800px) {
    main, aside, footer {
        width: 100%;
        display: block;
    }

    nav ul {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
    }
}
